*              text=auto

*.cpp          text
*.c            text
*.h            text

*.md           text
*.txt          text
*.yml          text

*.css          text
*.htm          text
*.html         text
*.js           text

*.png          binary
*.jpg          binary
*.7z           binary
*.gif          binary

*.vcproj       text eol=crlf
*.vcxproj      text eol=crlf
*.sln          text eol=crlf
*.rc           text eol=crlf
*.bat          text eol=crlf
*.filters      text eol=crlf
